.projectListItem {
    height: 60px;
    width: 80px;
}

.proofImgItem {
    height: 150px;
    width: 150px;
}

.userNickName {
    font-weight: bold;
}
#onGoingUserListUl {
    width: 200px;
    list-style: none;
}
#onGoingUserListUl img{
    width: 100%;
}
.user